.poll-results {
    margin: 16px auto;
    max-width: 600px;
}

.poll-results__bar {
    background-color: rgb(244, 143, 177);
}

.poll-results__percent {
    margin-left: 4px;
}

.poll-results__row {
    display: flex;
    justify-content: space-between;
}
