.vote-form {
    margin: 16px auto;
    max-width: 600px;
}

.vote-form-radio-group {
    padding-bottom: 0px;
}

.vote-form-submit-button {
    height: 48px;
    justify-content: space-between;
    padding-top: 0px;
}
